
body {
    /*font-family: 'Inconsolata', monospace;*/
    
}


button#coll-btn {
    font-size: 25px;
    background-color: black;
    border: 1px solid transparent;
    position: absolute;
    right: 2%;
    top: 10px;
    width: 40px;
    height: 15px;
    z-index: 5;
}

p.name {
    font-size: 2em;
    font-family: 'Rock Salt', cursive;
    text-align: center;
}

header.cont-header {
    margin-top: 2%;
}

div.info-sect {
    overflow: scroll;
    width: 100%;
    height: 40vh;
}

h2 {
    color: black;
    text-align: center;
    padding: 10px;
}

hr {
    border: 2px solid black;
    width: 20%;
}

#profile {
    border-radius: 50%;
    width: 180px;
}

p.about-me {
    margin-top: 30%;
}

div.cont1, div.cont2 {
    margin-left: 20px;
}

i.fa-star {
    color: black;
    font-size: 30px;
}

i.techn {
    font-size: 4em;
    text-align: center;
}

i.techn:hover {
    color: grey;
}

.cont-iconos {
    margin-top: 50px;
    margin-bottom: 50px;
}

span {
    display: none;
    color: black;
}

i:hover + span {
    display: block;
}

i.cont {
    font-size: 2em;
    text-align: center;
    padding: 15px;
}

div.centr-align {
    text-align: center;
}

/*Footer Section*/

#footer-section {
    background-color: black;
    height: 5vh;
}

#footer-section p {
    color: white;
}
