/*General*/

body {
    font-family: 'Muli', sans-serif;  
}

/*Header*/

#about {
    margin-top: 3%;
}
p.name {
    font-size: 2em;
    font-family: 'Rock Salt', cursive;
    text-align: center;
}

header.cont-header {
    margin-top: 2%;
}

div.info-sect {
    overflow: scroll;
    width: 100%;
    height: 40vh;
}

p.skills-red {
    color: black;
}

i.fa-star {
    margin: 2em;
}

i.star-left{
    margin-left: 95%;
}

i.star-right {
    margin-top: 110px;
}

/*Star*/

@keyframes jump { 0% { top: 0; } 50% { top: 30px; } 100% { top: 0; } }

.float-1 { position: relative; margin: 0 auto; text-align: center; animation: jump 5s infinite;
}

.float-2 { position: relative; margin: 0 auto; text-align: center; animation: jump 3s infinite;
}

.float-3 { position: relative; margin: 0 auto; text-align: center; animation: jump 7s infinite;
}

.float-4 { position: relative; margin: 0 auto; text-align: center; animation: jump 9s infinite;
}

i { 
    font-family: 'FontAwesome'; 
    color: black;
}


/*Arrow*/

@keyframes jump { 0% { top: 0; } 50% { top: 50px; } 100% { top: 0; } }


#arrow-down { position: relative; margin: 0 auto; text-align: center; animation: jump 5s infinite;

}

i:hover { 
    color: grey; 
}

i { 
    font-family: 'FontAwesome'; 
    font-size: 80px;
    color: black;
    margin: 30px;
}


/*Skills Section*/

#skills {
    margin-top: 1em;
    min-height: 50vh;
    max-height: 90vh;
    margin-bottom: 7em;
}

h2 {
    color: black;
    text-align: center;
    padding: 10px;
    width: 100%;
}


#profile {
    border-radius: 50%;
    width: 180px;
}

.grow:hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

p.about-me {
    margin-top: 10vh;
    font-size: 17px;
    text-align: center;
}
/*
i.techn {
    padding: 10px;
    margin-left: 40px;
}*/

#btn-close {
    color: black;
}

/*Portfolio Section*/

div#cont1, div#cont2 {
    margin: 20px;
}

i.fa-star {
    color: black;
    font-size: 30px;
    z-index: 5;
}

i.techn:hover {
    color: grey;
}

.cont-iconos {
    margin-left: 5%;
}

span {
    color: white;
    text-align: right;
}

i:hover + span {
    color: black;
}

i.cont {
    font-size: 2em;
    text-align: center;
    padding: 15px;
}

div.centr-align {
    text-align: center;
}

img {
    width: 100px;
}

.card {
    border: 1px solid transparent;
    margin: 20px;
    margin-bottom: 40px;
}

i.devicon-html5-plain-wordmark:hover {
    color: #f66337;
}

i.devicon-css3-plain-wordmark:hover {
    color: #1a64aa;
}

i.devicon-javascript-plain:hover {
    color: #ffc553;
}

i.devicon-jquery-plain-wordmark:hover {
    color: #006aa6;
}

i.devicon-bootstrap-plain:hover {
    color: #7240b4;
}

i.devicon-git-plain:hover {
    color: #f1503c;
}

i.devicon-nodejs-plain:hover {
    color: #00b468;
}

i.devicon-mocha-plain:hover {
    color: #8f664c;
}

i.devicon-react-original:hover {
    color: #55dbf8;
}

i.devicon-babel-plain:hover {
    color: #fadb5e;
}

i.devicon-sass-original:hover {
    color: #d16797;
}

i.devicon-slack-plain:hover {
    color: #e51558;
}

i.devicon-trello-plain:hover {
    color: #007bba;
}

i.devicon-visualstudio-plain:hover {
    color: #8861bf;
}

i.devicon-atom-original:hover {
    color: #00af67;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card:hover .image {
    opacity: 0.5;
}

.card:hover .middle {
    opacity: 1;
}

.text {
    background-color: grey;
    color: white;
    font-size: 16px;
    padding: 5px 15px;
    text-decoration: none;
}

.level {
    font-size: 15px;
    color: black;
    position: absolute;
    font-family: 'Muli', sans-serif;
    color: white;
}

i.techn:hover > br + span {
    color: black;
}


/*Contact Section*/

#contact {
    margin: 10vh;
    margin-top: 20vh;
}

i.fa-envelope:hover {
    color: black;
}

#github-icono {
    text-decoration: none;
}

i.fa-envelope:hover + span {
    color: black;
}

.email-bt {
    position: absolute;
    left: 42%;
}

/*Footer Section*/

#footer-section {
    background-color: white;
    height: 5vh;
}

#footer-section p {
    color: black;
}


/* Media Query */

@media screen and (min-width:320px ) and (max-width:576px){
    i.techn {
        font-size: 3em;
    }
    .email-bt {
        left: 30%;
    }
    .level {
        font-size: 10px;
    }

    i.star4{
        position: absolute;
        right: 10%;
    }
}

@media screen and (min-width:768px ) and (max-width:1025px){
    i.techn {
        font-size: 3em;
    }

    .email-bt {
        left: 30%;
    }
    .level {
        font-size: 12px;
    }
}
