/*General*/

body {
    font-family: 'Muli', sans-serif;
    
}

/*Navigation*/

button#coll-btn {
    font-size: 25px;
    background-color: transparent;
    border: 1px solid transparent;
    position: absolute;
    right: 2%;
    top: 10px;
    width: 40px;
    height: 35px;
    z-index: 5;
}

/*Header*/
p.name {
    font-size: 2em;
    font-family: 'Rock Salt', cursive;
    text-align: center;
}

header.cont-header {
    margin-top: 2%;
}

div.info-sect {
    overflow: scroll;
    width: 100%;
    height: 40vh;

}

/*Star*/

@keyframes jump { 0% { top: 0; } 50% { top: 30px; } 100% { top: 0; } }

#star { position: relative; margin: 0 auto; text-align: center; animation: jump 5s infinite;
}

i { 
    content: '\f0a8'; 
    font-family: 'FontAwesome'; 
    font-size: 80px; 
    color: black;
}


/*Skills Section*/

#skills {
    margin-top: 5em;
    min-height: 50vh;
    max-height: 90vh;
    margin-bottom: 7em;
}

h2 {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    width: 100%;
}


#profile {
    border-radius: 50%;
    width: 180px;
}

p.about-me {
    margin-top: 17%;
    font-size: 15px;
}

/*Portfolio Section*/

div#cont1, div#cont2 {
    margin: 20px;
}

i.fa-star {
    color: black;
    font-size: 30px;
    z-index: 5;
}

i.techn {
    font-size: 4em;
    text-align: center;
}

i.techn:hover {
    color: grey;
}

.cont-iconos {
    margin-top: 50px;
    margin-bottom: 50px;
}

span {
    display: none;
    color: black;
}

i:hover + span {
    display: block;
}

i.cont {
    font-size: 2em;
    text-align: center;
    padding: 15px;
}

div.centr-align {
    text-align: center;
}

img {
    width: 100px;
}

/*Contact Section*/

/*Footer Section*/

#footer-section {
    background-color: white;
    height: 5vh;
}

#footer-section p {
    color: black;
}
