/*General*/

body {
    font-family: 'Muli', sans-serif;
    
}

/*Header*/

#about {
    margin-top: 5%;
}
p.name {
    font-size: 2em;
    font-family: 'Rock Salt', cursive;
    text-align: center;
}

header.cont-header {
    margin-top: 2%;
}

div.info-sect {
    overflow: scroll;
    width: 100%;
    height: 40vh;
}

p.skills-red {
    color: black;
}

i.fa-star {
    margin: 2em;
}

i.star-left{
    margin-left: 95%;
}

i.star-right {
    margin-top: 110px;
}

/*Star*/

@keyframes jump { 0% { top: 0; } 50% { top: 30px; } 100% { top: 0; } }

.float-1 { position: relative; margin: 0 auto; text-align: center; animation: jump 5s infinite;
}

.float-2 { position: relative; margin: 0 auto; text-align: center; animation: jump 3s infinite;
}

.float-3 { position: relative; margin: 0 auto; text-align: center; animation: jump 7s infinite;
}

.float-4 { position: relative; margin: 0 auto; text-align: center; animation: jump 9s infinite;
}

i { 
    font-family: 'FontAwesome'; 
    color: black;
}


/*Arrow*/

@keyframes jump { 0% { top: 0; } 50% { top: 50px; } 100% { top: 0; } }


#arrow-down { position: relative; margin: 0 auto; text-align: center; animation: jump 5s infinite;

}

i:hover { 
    color: grey; 
}

i { 
    font-family: 'FontAwesome'; 
    font-size: 80px;
    color: black;
    margin: 30px;
}


/*Skills Section*/

#skills {
    margin-top: 1em;
    min-height: 50vh;
    max-height: 90vh;
    margin-bottom: 7em;
}

h2 {
    color: black;
    text-align: center;
    padding: 10px;
    width: 100%;
}


#profile {
    border-radius: 50%;
    width: 180px;
}

p.about-me {
    margin-top: 17%;
    font-size: 17px;
}

i.techn {
    margin: 20px;
    padding: 10px;
}

#btn-close {
    color: black;
}

/*Portfolio Section*/

div#cont1, div#cont2 {
    margin: 20px;
}

i.fa-star {
    color: black;
    font-size: 30px;
    z-index: 5;
}

i.techn {
    font-size: 4em;
    text-align: center;
}

i.techn:hover {
    color: grey;
}

.cont-iconos {
    margin-top: 50px;
    margin-bottom: 50px;
}

span {
    color: white;
    text-align: right;
}

.center {
    text-align: right;
    padding-left: 35px;
    padding-right: 35px;
}

.align-items {
    padding-left: 15px;
}

i:hover + span {
    color: black;
}

i.cont {
    font-size: 2em;
    text-align: center;
    padding: 15px;
}

div.centr-align {
    text-align: center;
}

img {
    width: 100px;
}

.card {
    border: 1px solid transparent;
    margin: 20px;
}

i.devicon-html5-plain-wordmark:hover {
    color: #f66337;
}

i.devicon-css3-plain-wordmark:hover {
    color: #1a64aa;
}

i.devicon-javascript-plain:hover {
    color: #ffc553;
}

i.devicon-jquery-plain-wordmark:hover {
    color: #006aa6;
}

i.devicon-bootstrap-plain:hover {
    color: #7240b4;
}

i.devicon-git-plain:hover {
    color: #f1503c;
}

i.devicon-nodejs-plain:hover {
    color: #00b468;
}

i.devicon-mocha-plain:hover {
    color: #8f664c;
}

i.devicon-react-original:hover {
    color: #55dbf8;
}

i.devicon-babel-plain:hover {
    color: #fadb5e;
}

i.devicon-sass-original:hover {
    color: #d16797;
}

i.devicon-slack-plain:hover {
    color: #e51558;
}

i.devicon-trello-plain:hover {
    color: #007bba;
}

i.devicon-visualstudio-plain:hover {
    color: #8861bf;
}

i.devicon-atom-original:hover {
    color: #00af67;
}

/*Contact Section*/

#contact {
    margin: 10vh;
    margin-top: 20vh;
}

i.fa-envelope:hover {
    color: black;
}

/*Footer Section*/

#footer-section {
    background-color: white;
    height: 5vh;
}

#footer-section p {
    color: black;
}
